<div class="row">
<div class="col-md-8">
<div class="footer" style=" background-color:#333333; width:1400px; height:210px;" >
<ul>
<li><h1 > <a style="color:white"  href="/">EDEAL</a></h1><li>
 <li><h1><a  style="color:white" href=" /listings/new"> ADVERTISE WITH EDEAL</a> </h1></li> <br>

<li><h3> policies</h3><li>
<p  > copyright@edeal</p>
</ul>


 

 


</div>

</div>

