<div class="row">
<div class="col-md-8">
<div class="footer" style=" background-color:#333333; width:1400px; height:150px;" >
<ul>
<li><p > <a style="color:white"  href="/">EDEAL</a></h1><li>
<li><p><a  style="color:white" href=" /listings/new"> ADVERTISE WITH EDEAL</a> </h1></li> <br>
<p> Copyright@edeal</p>
</ul>


 

 


</div>

</div>

